<div
    id="security-tab"
    class="tab-pane fade mt-3"
    role="tabpanel"
    aria-labelledby="nav-security-tab"
>
    <form
        id="password_change_form"
        class="px-4"
    >
        <h4>Смена пароля</h4>
        <div class="form-group">
            <input
                id="profile_old_password"
                class="form-control custom_border"
                type="password"
                value=""
                placeholder="Текущий пароль"
                required />
        </div>
        <div class="form-group"> 
            <input
                id="profile_new_password"
                class="form-control custom_border"
                type="password"
                value=""
                placeholder="Новый пароль"
                required />
        </div>
        <div class="form-group"> 
            <input
                id="profile_new_password_repeat"
                class="form-control custom_border"
                type="password"
                value=""
                placeholder="Новый пароль еще раз"
                required />
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6 d-flex flex-column justify-content-center">
                <div class="text-center">
                    <p>Привязать аккаунты:</p>
                    <a href="/oauth/vk/link"><i class="fab fa-vk mr-3 text-muted"></i></a>
                    <a href="/oauth/google/link"><i class="fab fa-google ml-3 text-muted"></i></a>
                </div>
                <button
                    id="btn_change_password"
                    type="submit"
                    class="btn btn-secondary custom_border mt-1"
                >
                    Сохранить новый пароль
                </button>
                <button
                    type="button"
                    class="btn btn-primary custom_border mt-1"
                    data-toggle="modal"
                    data-target="#close_all_sessions_modal"
                >
                    Завершить все сессии, кроме текущей
                </button> 
                <button
                    type="button"
                    class="btn btn-danger custom_border mt-1"
                    data-toggle="modal"
                    data-target="#delete_account_modal"
                >
                    Удалить аккаунт
                </button>
            </div>
        </div>
    </form>
</div>

<script src="/static/js/profile/security/change_password.js"></script>