{% extends "_blank.html" %}

{% block title %}
<title>Events - мероприятия</title>
{% endblock %}

{% block page%}
{% endblock %}

{% block content %}

<div class="card-deck">
    {% for event in events %}
    <div class="col-lg-3">
        <div class="card mb-4">
            <div class="card-header text-center"><a class="btn btn-link" href="/event/{{event.id}}" role="button"> {{event.name}} </a></div>
            <div class="card-body">
                <h5 class="card-title text-center">{{event.sm_description}}</h5>
                <p class="card-text text-center">{{event.start_date}}</p>
                <p class="card-text text-center">{{event.site_link}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}