{% extends "_blank.html" %}

{% block title %}
<title>Events - логин</title>
{% endblock %}

{% block page%}

          <div class="topbar-divider d-none d-sm-block"></div>

          <nav class="navbar navbar-light">
            <span class="navbar-brand mb-0 h3">Welcome!</span>
          </nav>

          {% endblock %}

{% block content %}
<div class="container">
<div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                <img src="/static/img/events.jpg" class="img-fluid mx-auto">
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                    {% from "_formhelpers.html" import render_field %}
                  <form class="user" id="f_login">
                    <fieldset>
                                    {{form.hidden_tag()}}
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user login_user_email" id="Email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user login_user_password" id="Password" placeholder="Password">
                    </div>
                    <p class="text-center" id="message"></p>
                    <button type="submit" id="btnsubmit" class="btn btn-primary btn-user btn-block" style="border-radius: 10rem;">Login</button>
                    </fieldset>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/reset_password">Reset Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/register">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js_custom/login.js"></script>
{% endblock %}