<div class="modal" tabindex="-1" role="dialog" id="new_edu_modal" aria-labelledby="new_edu_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="new_edu_modal_label">Добавить диплом об образовании:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="edu_city">Город:</label>                 
            <input type="text" class="form-control" id="edu_city" placeholder="" required>
          </div>
         <div class="form-group">
            <label for="edu_inst">Название высшего учебного заведения:</label>                 
            <input type="text" class="form-control" id="edu_inst" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="edu_spec">Специальность:</label>                  
            <input type="text" class="form-control" id="edu_spec" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="edu_level_choice">Степень:</label>
            <input list="edu_level" id="edu_level_choice" name="edu_level_choice" class="form-control" />
            <datalist id="edu_level">
              <option value="Бакалавр"></option>
              <option value="Специалист"></option>
              <option value="Магистр"></option>
              <option value="Аспирант"></option>
              <option value="Доктор наук"></option>
            </datalist>
          </div>
          <div class="form-group">
            <label for="edu_gr_year">Год выпуска:</label>                  
            <input type="number" class="form-control" id="eduYear" placeholder="" required>
          </div>
          <div class="form-group text-center">
              <button type="submit" class="btn btn-secondary">Сохранить</button> 
          </div>
        </div>
      </div>
    </div>
  </div>