{% for event in events %}
<div class="col-lg-4">
    <div class="card o-hidden border-0 shadow">
        <div class="card-header text-center bg-light pb-0">
            <a
                class="btn btn-link"
                href="/event/{{event.id}}"
                role="button"
            >{{event.name}}</a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p class="card-text">{{event.sm_description}}</p>
            </li>
            <li class="list-group-item text-center">
                <small class="text-muted">
                    {% if event.start_date != event.end_date %}
                    {{event.start_date}} - {{event.end_date}}
                    {% else %}
                    {{event.start_date}}
                    {% endif %}
                </small>
            </li>
            <li class="list-group-item text-center">
                <small class="text-muted">{{event.location}}</small>
            </li>
            <li class="list-group-item text-center">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <center>
                        {% for t in event.tags %}
                        <a
                            href="#"
                            class="badge badge-primary"
                        >{{ t }}</a>
                        {% endfor %}
                    </center>
                </div>
            </li>
            <li class="list-group-item text-center">
                <a
                    class="btn btn-link"
                    href="{{event.site_link}}"
                    role="button"
                >Сайт мероприятия</a>
            </li>
        </ul>
        <div class="card-footer text-center">
            <small>
                {% if event.status == 'active' %}
                Регистрация открыта
                {% elif event.status == 'closed' %}
                Регистрация закрыта
                {% elif event.status == 'archived' %}
                Мероприятие завершено
                {% endif %}
            </small>
        </div>
    </div>
</div>
{% endfor %}