<div class="modal" tabindex="-1" role="dialog" id="delete_education_modal" aria-labelledby="delete_education_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete_education_modal_label">Удалить диплом об образовании</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>Вы уверены, что хотите удалить диплом об образовании?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_delete_education" class="btn btn-danger border-danger btn-user btn-block custom_border">Удалить</button>
            </div>
        </div>
    </div>
</div>

