<div class="modal" tabindex="-1" role="dialog" id="new_edu_modal" aria-labelledby="new_edu_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="new_edu_modal_label">Добавить диплом об образовании:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="edu_country">Страна:</label>                 
            <input type="text" class="form-control" id="edu_country" required>
          </div>
          <div class="form-group">
            <label for="edu_city">Город:</label>                 
            <input type="text" class="form-control" id="edu_city" required>
          </div>
         <div class="form-group">
            <label for="edu_university">Название высшего учебного заведения:</label>                 
            <input type="text" class="form-control" id="edu_university" required>
          </div>
          <div class="form-group">
            <label for="edu_department">Факультет/департамент:</label>                 
            <input type="text" class="form-control" id="edu_department" required>
          </div>
          <div class="form-group">
            <label for="edu_program">Специальность:</label>                  
            <input type="text" class="form-control" id="edu_program" required>
          </div>
          <div class="form-group">
            <label for="edu_mode_choice">Степень:</label>
            <input list="edu_mode" id="edu_mode_choice" name="edu_mode_choice" class="form-control" required />
            <datalist id="edu_mode">
              <option value="Бакалавр"></option>
              <option value="Специалист"></option>
              <option value="Магистр"></option>
              <option value="Аспирант"></option>
              <option value="Доктор наук"></option>
            </datalist>
          </div>
          <div class="form-group">
            <label for="edu_status">Статус:</label>                  
            <input list="edu_status" id="edu_status_choice" name="edu_status_choice" class="form-control" required>
            <datalist id="edu_status">
              <option value="Оконченное"></option>
              <option value="Неоконченное"></option>
            </datalist>
          </div>
          <div class="form-group">
            <label for="edu_gr_year">Год выпуска:</label>                  
            <input type="number" class="form-control" id="edu_gr_year" required>
          </div>
          <div class="form-group text-center">
              <button type="button" id="new_edu_btn" class="btn btn-secondary">Сохранить</button> 
          </div>
        </div>
      </div>
    </div>
  </div>