<div
    class="tab-pane fade mt-3"
    id="events-manager-management"
    role="tabpanel"
    aria-labelledby="nav-events-org-manager-tab"
>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a
                class="nav-link active"
                id="nav-org-manager-participants"
                data-toggle="tab"
                href="#org-manager-participants"
                role="tab"
                aria-controls="org-manager-participants"
            >Список участников</a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="nav-org-manager-reports"
                data-toggle="tab"
                href="#org-manager-reports"
                role="tab"
                aria-controls="org-manager-reports"
            >Управление докладами</a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="nav-clients-tasks"
                data-toggle="tab"
                href="#clients-tasks"
                role="tab"
                aria-controls="clients-tasks"
            >Управление задачами</a>
        </li>
    </ul>
    <div
        class="tab-content"
        id="nav-tabContent"
    >
        <div
            class="tab-pane fade show active mt-3"
            id="org-manager-participants"
            role="tabpanel"
            aria-labelledby="nav-org-manager-participants"
        >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">e-mail</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Дата регистрации</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>iivanov@mail.ru</td>
                        <td>Иванов Иван Иванович</td>
                        <td>28.03.2020</td>
                    <tr>
                        <th scope="row">2</th>
                        <td>iivanov@mail.ru</td>
                        <td>Иванов Иван Иванович</td>
                        <td>28.03.2020</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>iivanov@mail.ru</td>
                        <td>Иванов Иван Иванович</td>
                        <td>28.03.2020</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div
            class="tab-pane fade mt-3"
            id="org-manager-reports"
            role="tabpanel"
            aria-labelledby="nav-org-manager-reports"
        >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>e-mail автора</th>
                        <th>ФИО автора</th>
                        <th>Файл доклада</th>
                        <th>Статус</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>user@test.ru</td>
                        <td>Иванов Иван Иванович</td>
                        <td><a href="">Програмирование микроконтроллеров для роботов-помощников, встроенных в систему
                                умного дома</a></td>
                        <td>На модерации</td>
                        <td>
                            <div
                                class="btn-group"
                                role="group"
                            >
                                <button
                                    type="submit"
                                    class="btn btn-outline-secondary"
                                >Одобрить</button>
                                <button
                                    type="button"
                                    class="btn btn-outline-danger"
                                >Отклонить</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>user@test.ru</td>
                        <td>Иванов Иван Иванович</td>
                        <td><a href="">Програмирование микроконтроллеров для роботов-помощников, встроенных в систему
                                умного дома</a></td>
                        <td>Одобрен</td>
                        <td>
                            <button
                                type="button"
                                class="btn btn-outline-danger"
                            >Отклонить</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>user@test.ru</td>
                        <td>Иванов Иван Иванович</td>
                        <td><a href="">Програмирование микроконтроллеров для роботов-помощников, встроенных в систему
                                умного дома</a></td>
                        <td>Отклонен</td>
                        <td>
                            <button
                                type="submit"
                                class="btn btn-outline-secondary"
                            >Одобрить</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div
            class="tab-pane fade mt-3"
            id="clients-tasks"
            role="tabpanel"
            aria-labelledby="nav-clients-tasks"
        >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Срок выполнения</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a
                                href=""
                                data-toggle="modal"
                                data-target="#task1Modal"
                            >Бронирование номеров в гостинице Radisson</a></td>
                        <td>28.03.2020</td>
                        <td>
                            <select class="form-control">
                                <option>Выполнено</option>
                                <option>В работе</option>
                                <option>Не выполнено</option>
                            </select>
                        </td>
                        <td>
                            <div
                                class="btn-group"
                                role="group"
                            >
                                <button
                                    type="submit"
                                    class="btn btn-outline-secondary"
                                >Сохранить</button>
                                <button
                                    type="button"
                                    class="btn btn-outline-danger"
                                    data-toggle="modal"
                                    data-target="#TaskDelModal"
                                >Удалить</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Бронирование номеров в гостинице Hilton</td>
                        <td>28.03.2020</td>
                        <td>
                            <select class="form-control">
                                <option>Не выполнено</option>
                                <option>В работе</option>
                                <option>Выполнено</option>
                            </select>
                        </td>
                        <td>
                            <div
                                class="btn-group"
                                role="group"
                            >
                                <button
                                    type="submit"
                                    class="btn btn-outline-secondary"
                                >Сохранить</button>
                                <button
                                    type="button"
                                    class="btn btn-outline-danger"
                                    data-toggle="modal"
                                    data-target="#TaskDelModal"
                                >Удалить</button>
                            </div>
                        </td>
                    </tr>
                    <tr style="background-color: lightcoral;">
                        <th scope="row">3</th>
                        <td>Заказ раздаточных материалов в типографии</td>
                        <td>21.03.2020</td>
                        <td>Просрочено</td>
                        <td>
                            <button
                                type="button"
                                class="btn btn-outline-danger"
                                data-toggle="modal"
                                data-target="#TaskDelModal"
                            >Удалить</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="module" src="static/js/profile/manager/main.js"></script>