{% extends "/blank.html" %}

{% block title %}
<title>Events - 500</title>
{% endblock %}

{% block page%}
{% endblock %}

{% block content %}
<!-- 500 Error Text -->
<div class="text-center">
    <div class="h1 mx-auto" data-text="200">500</div>
    <p class="lead text-gray-800 mb-5">Server error, we're sorry</p>
    <pre class="text-gray-500 mb-0 text-left">{{message}}</pre>
    <p class="lead text-gray-800 mb-5">It looks like you found a glitch in the matrix...</p>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}