{% extends "_blank.html" %}

{% block title %}
<title>Events - {{event.name}}</title>
{% endblock %}

{% block page%}

          <div class="topbar-divider d-none d-sm-block"></div>

          <nav class="navbar navbar-light">
            <span class="navbar-brand mb-0 h3">{{event.name}}</span>
          </nav>

          {% endblock %}

{% block content %}
<div class="container">
<div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div>
              <span>Название - {{event.name}}</span>
            </div>
            <div>
              <span>мелкое описание - {{event.sm_description}}</span>
            </div>
            <div>
              <span>описание - {{event.description}}</span>
            </div>
            <div>
              <span>когда начало - {{event.start_date}}</span>
            </div>
            <div>
              <span>когда окончание - {{event.end_date}}</span>
            </div>
            <div>
              <span>а чё по времени начала - {{event.start_time}}</span>
            </div>
            <div>
              <span>а где - {{event.location}}</span>
            </div>
            <div>
              <span>а сайтецкий - {{event.site_link}}</span>
            </div>
            <div>
              <span>доп инфа - {{event.additional_info}}</span>
            </div>
                </div>
        </div>

      </div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}