{% extends "/blank.html" %}

{% block title %}
<title>Events - профиль</title>
{% endblock %}

{% block page%}
<div class="topbar-divider d-none d-sm-block text-center"></div>
<span class="navbar-brand text-secondary">Личный кабинет</span>
{% endblock %}

{% block content %}
<div class="row justify-content-center my-auto">
    <div class="col-lg-2">
        <nav class="nav flex-column">
            <a
                class="nav-link pl-4"
                id="nav-users-tab"
                data-toggle="tab"
                href="#users-tab"
                role="tab"
                aria-controls="users-tab"
                data-anchor="users"
            >
                Пользователи
            </a>
            <a
                class="nav-link pl-4"
                id="nav-events-tab"
                data-toggle="tab"
                href="#events-tab"
                role="tab"
                aria-controls="events-tab"
                data-anchor="events"
            >
                Мероприятия
            </a>
            <a
                class="nav-link pl-4"
                id="nav-tags-tab"
                data-toggle="tab"
                href="#tags-tab"
                role="tab"
                aria-controls="tags-tab"
                data-anchor="tags"
            >
                Научные области
            </a>
        </nav>
    </div>
    <div class="col-lg-8">
        <div class="card o-hidden border-0 shadow-sm custom_border">
            <div class="card-body p-1">
                <div
                    class="tab-content"
                    id="nav-tabContent"
                >
                    <div
                        id="users-tab"
                        class="tab-pane fade show active text-center mt-3"
                        role="tabpanel"
                        aria-labelledby="nav-users-tab"
                    >
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">E-mail пользователя</th>
                                    <th scope="col">Роль</th>
                                    <th scope="col">Управление</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set count = 1 %}
                                {% for user in users %}
                                <tr>
                                    <td>{{ count }}
                                         {% set count = count + 1 %}
                                    </td>
                                    <td>{{ user.email }}</td>
                                    <td><select
                                            class="form-control"
                                            id="user_role"
                                        >
                                            <option>Администратор</option>
                                            <option>Модератор</option>
                                            <option>Участник</option>
                                        </select></td>
                                    <td>
                                        {% if user.service_status == 'superadmin' %}
                                        -
                                        {% else %}
                                        <div class="btn-group" role="group">
                                            <button
                                            type="button"
                                            class="btn btn-outline-danger"
                                            data-toggle="modal"
                                            data-target="#block_user_modal"
                                            >Заблокировать</button>
                                            <button
                                                type="button"
                                                class="btn btn-outline-danger"
                                                data-toggle="modal"
                                                data-target="#delete_user_modal"
                                            >Удалить</button>
                                        {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div
                        id="events-tab"
                        class="tab-pane fade mt-3 text-center"
                        role="tabpanel"
                        aria-labelledby="nav-events-tab"
                    >
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Название</th>
                                    <th scope="col">Даты проведения</th>
                                    <th scope="col">Место проведения</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Управление</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events %}
                                <tr>
                                    <td>{{event.name}}</td>
                                    <td>
                                        {% if event.start_date != event.end_date %}
                                        {{event.start_date}} - {{event.end_date}}
                                        {% else %}
                                        {{event.start_date}}
                                        {% endif %}
                                    </td>
                                    <td>{{event.location}}</td>
                                    <td>
                                        {% if event.status == 'active' %}
                                        Регистрация открыта
                                        {% elif event.status == 'closed' %}
                                        Регистрация закрыта
                                        {% elif event.status == 'archived' %}
                                        Мероприятие завершено
                                        {% endif %}
                                    </td>
                                    <td><a href="">Управление мероприятием</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div
                        id="tags-tab"
                        class="tab-pane fade mt-3 text-center"
                        role="tabpanel"
                        aria-labelledby="nav-tags-tab"
                    >
                        <p>TABLE HARCODED</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Робототехника</td>
                                    <td>
                                        <div
                                            class="btn-group"
                                            role="group"
                                        >
                                            <button
                                                type="button"
                                                class="btn btn-outline-secondary"
                                                data-toggle="modal"
                                                data-target="#EditTagModal"
                                            >Редактировать</button>
                                            <button
                                                type="button"
                                                class="btn btn-outline-danger"
                                                data-toggle="modal"
                                                data-target="#TagDelModal"
                                            >Удалить</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Микроконтроллеры</td>
                                    <td>
                                        <div
                                            class="btn-group"
                                            role="group"
                                        >
                                            <button
                                                type="button"
                                                class="btn btn-outline-secondary"
                                                data-toggle="modal"
                                                data-target="#EditTagModal"
                                            >Редактировать</button>
                                            <button
                                                type="button"
                                                class="btn btn-outline-danger"
                                                data-toggle="modal"
                                                data-target="#TagDelModal"
                                            >Удалить</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_modals%}

{% include 'fragments/admin/block_user.html' %}

{% include 'fragments/admin/delete_user.html' %}

{% endblock %}

{% block extra_js %}

{% endblock %}