{% extends "/blank.html" %}

{% block title %}
<title>Events - Создание мероприятия</title>
{% endblock %}

{% block page%}
<div class="topbar-divider d-none d-sm-block text-center"></div>
<span class="navbar-brand text-secondary">Создание мероприятия</span>
{% endblock %}

{% block content %}
<form id="f_create_event">
    <h2>Создание нового мероприятия</h2>
    <div class="form-group">
        <label for="create_event_name">Название мероприятия:</label>            
        <input type="text" class="form-control" id="create_event_name" required>
    </div>
    <!-- переделать блять нормально -->
    <div class="form-group">
      <label for="create_event_start_date">Дата начала мероприятия:</label>
      <input type="date" class="form-control" id="create_event_start_date" required>  
    </div>
    <div class="form-group">
      <label for="create_event_end_date">Дата окончания мероприятия:</label>
      <input type="date" class="form-control" id="create_event_end_date" required>  
    </div>
    <div class="form-group">
      <label for="create_event_start_time">Время начала мероприятия:</label>
      <input type="time" class="form-control" id="create_event_start_time" required>  
    </div>
    <div class="form-group">
        <label for="create_event_location">Место проведения:</label>
        <input type="text" class="form-control" id="create_event_location" required>  
    </div>
    <div class="form-group">
        <label for="create_event_site_link">Сайт мероприятия:</label>
        <input type="text" class="form-control" id="create_event_site_link" required>
    </div>
    <div class="form-group">
        <label for="create_event_sm_description">Краткое описание мероприятия:</label>
        <textarea class="form-control" id="create_event_sm_description" rows="5" maxlength="500" required></textarea>  
    </div>
    <div class="form-group">
        <label for="create_event_description">Полное описание мероприятия:</label>
        <textarea class="form-control" id="create_event_description" rows="10" maxlength="1500" required></textarea>  
    </div>
    <div class="form-group">
        <label for="create_event_additional_info">Дополнительная информация:</label>
        <textarea class="form-control" id="create_event_additional_info" rows="10" maxlength="1000" required></textarea>  
    </div>
    <div class="form-group text-center">
      <button type="submit" id="btnsubmit_create_event" class="btn btn-primary">Отправить</button>  
    </div>
</form>
{% endblock %}

{% block extra_modals%}

{% endblock %}

{% block extra_js %}
<script src="/static/js_custom/create_event.js"></script>
{% endblock %}