<div class="card-deck" id="card_desk">
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card o-hidden border-0 shadow pb-2">
            <div class="card-header text-center bg-light pb-0">
                <a class="btn btn-link" href="/event/asdfasdf" role="button">ИМЯ HARDCODED</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">НЕБОЛЬШОЕ ОПИСАНИЕ НА ПАРУ СТРОК HARDCODED</p>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">{{ kek }}</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="text-muted">МЕСТО HARDCODED</small>
                </li>
                <li class="list-group-item text-center">
                    <small class="btn btn-link text-muted" href="http://site.com" role="button">Сайт мероприятия</small>
                </li>
            </ul>
            <div class="card-footer text-center">
                <small>РЕГА ОТКРЫТА HARDCODED</small>
            </div>
        </div>
    </div>
</div>