{% extends "/blank.html" %}

{% block title %}
<title>Events - профиль</title>
{% endblock %}

{% block page%}
<div class="topbar-divider d-none d-sm-block text-center"></div>
<span class="navbar-brand text-secondary">Личный кабинет</span>
{% endblock %}

{% block content %}
<div class="row justify-content-center my-auto">
    <div class="col-lg-2">
      <nav class="nav flex-column"> 
        <a class="nav-link pl-4" id="nav-personal-tab" data-toggle="tab" href="#personal-info-tab" role="tab" aria-controls="personal-info-tab">Инфо</a>
        <a class="nav-link pl-4" id="nav-education-tab" data-toggle="tab" href="#education-tab" role="tab" aria-controls="education-tab">Образование</a>
        <a class="nav-link pl-4" id="nav-security-tab" data-toggle="tab" href="#security-tab" role="tab" aria-controls="security-tab">Безопасность</a>
        <hr class="my-0 w-75 text-center">
        <p class="text-center my-auto">Мои мероприятия</p>
        <a class="nav-link pl-4" id="nav-events-part-tab" data-toggle="tab" href="#events-part-tab" role="tab" aria-controls="events-part-tab">Участвую</a>
        <a class="nav-link pl-4" id="nav-events-lect-tab" data-toggle="tab" href="#events-lect-tab" role="tab" aria-controls="events-lect-tab">Выступаю</a>
        <a class="nav-link pl-4" id="nav-events-org-tab" data-toggle="tab" href="#events-org-tab" role="tab" aria-controls="events-org-tab">Организую</a>
      </nav>
    </div>
    <div class="col-lg-8">
        <div class="card o-hidden border-0 shadow-sm custom_border">
            <div class="card-body p-1">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active text-center mt-3" id="personal-info-tab" role="tabpanel" aria-labelledby="nav-personal-tab">
                        <div class="row">
                            <div class="col-lg-4">
                                <img alt="User Pic" src="/static/img/ava.jpeg" id="profile-image1" class="img-fluid rounded">
                                <a href="" data-toggle="modal" data-target="#personal_IMG_modal" class="ml-2"><i class="far fa-edit"></i>ИЗМЕНИТЬ КАРТИНОШКУ</a>
                            </div>
                            <div class="col-lg-8">
                                <div class="text-left d-flex justify-content-between"> 
                                    <h5 id="name_surname">{{ current_user.name }} {{ current_user.surname }}</h5>
                                    <a href="" data-toggle="modal" data-target="#personal_info_modal" class="ml-2"><i class="far fa-edit"></i></a>
                                </div>
                                <hr class="pt-0 mt-0">
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">E-mail:</p>
                                    <p id="p_email">{{ current_user.email }}</p>
                                    {% if current_user.account_type != 'standart' %} 
                                    <a href="" data-toggle="modal" data-target="#personal_M_modal" class="ml-2 ml-auto"><i class="far fa-edit"></i></a>
                                    {% endif %}
                                </div>
                                <hr class="pt-0 mt-0">
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">День рождения:</p>
                                    <p id="p_birth">{{ current_user.birth }}</p>
                                    <a href="" data-toggle="modal" data-target="#personal_BSCT_modal" class="ml-2 ml-auto"><i class="far fa-edit"></i></a>
                                </div>
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">Пол:</p>
                                    <p id="p_sex">{{ current_user.sex }}</p>
                                </div>
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">Страна:</p>
                                    <p id="p_country">{{ current_user.country }}</p>
                                </div>
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">Город:</p>
                                    <p id="p_town">{{ current_user.town }}</p>
                                </div>
                                <hr class="pt-0 mt-0">
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">Телефон:</p>
                                    <p id="p_phone">{{ current_user.phone }}</p>
                                    <a href="" data-toggle="modal" data-target="#personal_T_modal" class="ml-2 ml-auto"><i class="far fa-edit"></i></a>
                                </div>
                                <hr class="pt-0 mt-0">
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">Место работы:</p>
                                    <p id="p_organization">{{ current_user.organization }}</p>
                                    <a href="" data-toggle="modal" data-target="#personal_OP_modal" class="ml-2 ml-auto"><i class="far fa-edit"></i></a>
                                </div>
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">Должность:</p>
                                    <p id="p_position">{{ current_user.position }}</p>
                                </div>
                                <hr class="pt-0 mt-0">
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">Статус в системе:</p>
                                    <p>{{ current_user.service_status }}</p>
                                </div>
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">Дата регистрации:</p>
                                    <p>{{ current_user.registration_date }}</p>
                                </div>
                                <hr class="pt-0 mt-0">
                                <div class="text-left d-flex"> 
                                    <p class="pr-4 font-weight-bold">О себе:</p>
                                    <p id="p_bio">{{ current_user.bio }}</p>
                                    <a href="" data-toggle="modal" data-target="#personal_B_modal" class="ml-2 ml-auto"><i class="far fa-edit"></i></a>
                                </div>
                            </div>
                        </div>          
                    </div>
                    <div class="tab-pane fade mt-3 text-center" id="education-tab" role="tabpanel" aria-labelledby="nav-education-tab">
                        
                    </div>
                    <div class="tab-pane fade mt-3" id="security-tab" role="tabpanel" aria-labelledby="nav-security-tab">
                        <form class="px-4">
                            <h4>Смена пароля</h4>
                            <div class="form-group">                  
                                <input class="form-control custom_border" name="password" type="password" value='' placeholder="Текущий пароль" />
                            </div>
                            <div class="form-group"> 
                                <input class="form-control custom_border" name="newPassword" type="password" value='' placeholder="Новый пароль"/>
                            </div>
                            <div class="form-group"> 
                                <input class="form-control custom_border" name="newPassword" type="password" value=''placeholder="Новый пароль еще раз"/>
                            </div>
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-secondary">Сохранить новый пароль</button>
                                <button type="button" class="btn btn-primary">Завершить все сессии, кроме текущей</button> 
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#AccountDelModal">Удалить аккаунт</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade mt-3" id="events-part-tab" role="tabpanel" aria-labelledby="nav-events-part-tab">

                    </div>
                    <div class="tab-pane fade mt-3" id="events-lect-tab" role="tabpanel" aria-labelledby="nav-events-lect-tab">

                    </div>
                    <div class="tab-pane fade mt-3" id="events-org-tab" role="tabpanel" aria-labelledby="nav-events-org-tab">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_modals%}
<div class="modal" tabindex="-1" role="dialog" id="personal_info_modal" aria-labelledby="personal_info_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personal_info_modal_label">Редактирование персональной информации:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="f_name_surname">
                    <div class="form-group">
                        <label for="profile_user_name">Имя:</label>                 
                        <input type="text" class="form-control custom_border" id="profile_user_name" placeholder="{{ current_user.name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="profile_user_surname">Фамилия:</label>                 
                        <input type="text" class="form-control custom_border" id="profile_user_surname" placeholder="{{ current_user.surname }}" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" id="btnsubmit_name_surname" class="btn btn-secondary border-secondary btn-user btn-block custom_border">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="personal_BSCT_modal" aria-labelledby="personal_BSCT_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personal_BSCT_modal_label">Редактирование персональной информации:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="f_BSCT">
                    <div class="form-group">
                        <label for="profile_user_birth">Дата Рождения:</label>                 
                        <input type="text" class="form-control custom_border" id="profile_user_birth" placeholder="{{ current_user.birth }} {% if current_user.birth == None %}yyyy-mm-dd {% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="profile_user_sex">Пол:</label>                 
                        <input type="text" class="form-control custom_border" id="profile_user_sex" placeholder="{{ current_user.sex }}">
                    </div>
                    <div class="form-group">
                        <label for="profile_user_country">Страна:</label>                 
                        <input type="text" class="form-control custom_border" id="profile_user_country" placeholder="{{ current_user.country }}">
                    </div>
                    <div class="form-group">
                        <label for="profile_user_town">Город:</label>                 
                        <input type="text" class="form-control custom_border" id="profile_user_town" placeholder="{{ current_user.town }}">
                    </div>
                    <div class="text-center">
                        <button type="submit" id="btnsubmit_BSCT" class="btn btn-secondary border-secondary btn-user btn-block custom_border">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js_custom/change_name_surname.js"></script>
<script src="/static/js_custom/change_BSCT.js"></script>
{% endblock %}