{% extends "/blank.html" %}

{% block title %}
<title>Events - test</title>
{% endblock %}

{% block page%}
<button id='removeeee'>Remove all</button>
<button id='addddd'>ADD</button>
<button id='appendddd'>APPEND</button>
{% endblock %}

{% block content %}
KEKEKEKKEKEKE
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    removeeee.onclick = () => {
        const main_content_container = document.getElementById("main_content_container");
        main_content_container.textContent = '';
    }
</script>
<script type="text/javascript">
    addddd.onclick = () => {
        var main_content_container = document.getElementById("main_content_container");
        $.ajax({
            url: "/get_html",
            success: function(data){
                main_content_container.innerHTML = data;
            }
        });
    }
</script>
<script type="text/javascript">
    appendddd.onclick = () => {
        var card_desk = document.getElementById("card_desk");
        $.ajax({
            url: "/get_html2",
            success: function(data){
                card_desk.innerHTML += data;
            }
        });
    }
</script>
{% endblock %}